*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Geneva, Tahoma, sans-serif;


}

body
{
    background-color: #dfcb8e;
    background-size: 100%;

}

header
{
    background-color: #f8d940;
}

img:hover
{
    box-shadow: 0 0 50px 5px yellow;
}

img:active
{
    box-shadow: 0 0 0 5px yellow;
}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 60%;
    background-color: black;
    animation-name: FadeIn;
    animation-duration: 2s;
}

tbody > tr:nth-child(even)
{
    background-color: #f8d940;
}

tbody > tr:nth-child(odd)
{
    background-color: #fff289;
}

td
{
    white-space: none;
    padding: 40px 140px 0px 80px;
    border: 2px solid black;
    border-collapse: collapse;
}




p
{
    text-align: center;
    font-size: 1.2rem;
}

a
{
    text-decoration: none;
    color: inherit;
}

header
{
    padding: 2px;
    display: flex;
    justify-content: space-between;

}

.HorizontalLine
{
    width: 100%;
    height: 5px;
    border-top: 4px solid black;
    margin: 1rem 0 0.5rem 0;

}

.Header__nav-list
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Header__nav-list > li
{
    padding: 10px;
    color: black;
    list-style: none;
}
.Header__nav-list > li:hover
{
    background: white;
}

.Work__Lists-flex
{
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.Work__experience-list
{
    display: inline-block;
    border: 3px solid black;
    list-style: none;
    margin: 1rem 1rem;
}

.Work__experience-list > li
{
    border: 1px solid black;
    padding: 1rem 1rem;
}

.Work__experience-list > li
{
    background-color: #fff289
}

.Work__experience-list > li:nth-child(1)
{
    background-color: #f8d940;
}

.Work__experience-list > li:nth-child(1) > h1
{

}

.Work__Tasks-list
{
    list-style: none;
}

.Work__Tasks-list > li
{
    padding: 0.3rem 0;
}

li
{
    font-size: 1.1rem;
}

.SocialMediaIconList
{
    margin: 0px 20%;
    animation-name: FadeIn;
    animation-duration: 2s;
}

article
{
    margin: 50px 0px;
}

article > h2
{
    text-align: center;
}

p
{

    text-align: center;
    display: block;
}

img
{
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.SocialMediaIconList > ul > li:hover
{
    filter: brightness(50%);
}

.SocialMediaIcon
{
    width: 40px;

}

.Footer__items-flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer
{
    background-color: #f8d940;
    padding: 0.2rem 0;
}

@keyframes FadeIn
{
    from {opacity: 0}
    to {opacity: 100}
}
